<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <h1>Articles listing page</h1>
      <table>
        <thead>
          <tr>
            <th>Title </th>
            <th>Description </th>
            <th colspan="3">Actions </th>
          </tr>
        </thead>
          <tbody>
            <% @articles.each do |article|%>
            <tr>
              <th><%= article.title %></th>
              <th><%= article.description %></th>
              <th><%= link_to "Show", article_path(article) %></th>
              <th><%= link_to "Edit", edit_article_path(article) %></th>
              <th><%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "are you sure?"} %></th>
            </tr>
            <% end %>
          </tbody>
      </table>
      <p>
      <%= link_to 'Create new article', new_article_path %>
      </p>
  </body>
</html>