<h2 class="text-center mt-4"><%= @article.title %></h2>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow p-3 mb-5 bg-body rounded">
        <div class="card-header fst-italic">
          By <%= link_to @article.user.username, user_path(@article.user) %>
          <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
          <% if @article.categories.any? %>
            <div class="mt-2"><%= render @article.categories %></div>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text" style="text-align: left"><%= simple_format(@article.description) %></div>
          <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(@article), class:"btn btn-info" %>
            <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "are you sure?"}, class:"btn btn-danger" %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
  <% if logged_in? && @article.user == current_user %>
    <div class="row justify-content-md-center">
      <%= link_to 'Create new article', new_article_path, class:"btn btn-primary", style: "width: 16%; margin-bottom: 20px" %>
    </div>
  <% end %>
</div>
