<h1 class="text-center mt-4">Alpha bloggers</h1>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<div class="container">
  <% @users.each do |user|%>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow p-3 mb-5 bg-body rounded">
          <div class="card-header fst-italic">
            <%= link_to user.username, user %> 
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to gravatar_for(user, size: 150), user %></h5>
            <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
            <%= link_to "View profile", user, class:"btn btn-primary" %>
            <% if logged_in? && user == current_user %>
              <%= link_to "Edit profile", edit_user_path(user), class:"btn btn-info" %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>
