<%= render 'shared/errors', obj: @category %>
<%= form_with(model: @category, class: "shadow p-3 mb-5 bg-white rounded", local: true)  do |f| %>
  <div class="mb-3 row">
    <%= f.label :name, "Category name", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Enter a name" %>
    </div>
  </div>
  <div class="input-group justify-content-center">
    <%= f.submit class: "btn btn-primary btn-lg" %>
  </div>
<% end %>